@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&family=Yeseva+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
.group{
    width: 800px;
    height: 600px;
    background: url(../img/fon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.group1{
    width: 400px;
    height: 500px;
    transform: translate(80%, 10%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
}
.group1-1{
  display: flex;
  justify-content: space-between;
}
.num{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background: #E3B873;
    border: solid 10 px white;
}
.num p{
    text-align: center;
    margin-top: 10px;
}
.group1-2{
    width: 316px;
}
.group2{
    width: 500px;
    height: 500px;
    background: black;
    transform: translate(200%, -110%);
}
.group2-0 p{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
text-align: center;
width: 297px;
color: #FFFFFF;
transform: translate(40%, 20%);
}
.group2-1{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 21px;
color: rgba(255, 255, 255, 0.5);
margin-top: 50px;
margin-left: 56px;
}
.group2-2{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
color: #FFFFFF;
margin-left: 56px;
}
.group2-3{
    margin-left: 56px;
}
.group2-4{
    width: 259px;
    height: 16px;
    transform: translate(70%, 100%);
    display: flex;
    justify-content: space-between;
}
.group2-4-1{
    width: 18px;
    height: 18px;
    background:#E3B873;
border-radius: 1px;
text-align: center;
}
.group2-4-2{
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #FFFFFF;
}
.group2-5 button{
    width: 213px;
    height: 51px;
    background: #E3B873 ;
    transform: translate(110%, 60%);
}
.group2-5-1{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.group3{
    width: 438px;
    height: 72px;
    transform: translate(230%, -650%);
    display: flex;
    justify-content: space-between;
}
.group3-1{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #E3B873;
}
.group3-1-1{
    margin-top: 15px;
    margin-left: 15px;
}
.group3-2{
    width: 342px;
    margin-top: 10px;
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
color: #E3B873;
text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.group4{
    width: 1228px;
    height: 642px;
    border: solid red;
    transform: translate(10%, -60%);
}
.group4-1{
    font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
text-align: center;
text-transform: uppercase;
color: #181818;
}
.group4-2{
    text-align: center;
    display: flex;
    transform: translate(46%, 30%);
}
.group4-3{
    margin-left: 400px;
    margin-top: 30px;
    width: 400px;
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 29px;
text-align: center;
color: #363636;
}
.group5{
    width: 1228px;
    height: 455px;
    border: solid blue;
    transform: translate(0%, 10%);
}
.group5-1{
    width: 373px;
    height: 455px;
    border: solid green;
}
.group5-1-1 img{
    border-radius: 50%;
    border: 3px solid white;
}
.group5-1-2{
    width: 176px;
    height: 42px;
transform: translate(60%, -150%);
    font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #181818;
}
.group5-1-3{
    width: 322px;
    height: 216px;
    transform: translate(10%, -10%);
    font-family: Nunito Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 180%;
color: #959595;
}
.group5-1-4 {
    width: 291px;
    height: 54px;
    background: #E3B873;
    transform: translate(15%, 50%);
    
}




